@layer reset
  *,
  *::before,
  *::after
    box-sizing: border-box

  html
    -webkit-text-size-adjust: 100%

  h1,
  h2,
  h3,
  h4,
  p,
  dl,
  dd,
  figure
    margin: 0

  ul,
  ol
    list-style: none
    margin: 0
    padding: 0

  button
    -webkit-tap-highlight-color: transparent
    background: none
    border: 0
    color: inherit
    cursor: pointer
    font: inherit
    font-variant-numeric: inherit
    padding: 0
    touch-action: manipulation

  svg
    display: block
