@use '../../presentation/styles/layout'

@layer components
  .plate-figure
    width: 100%
    max-width: 13.4375rem
    height: auto
    margin: 0 auto

    @include layout.container-wide(25rem)
      max-width: 15.625rem

  .swatch
    flex: none
    width: var(--swatch)
    height: 1.125rem
