@use '@adrienlcp/styles/breakpoints'

@layer components
  .measure-page
    .fields
      display: grid
      gap: var(--space-xl)
      margin-top: var(--space-s)

  @include breakpoints.wide
    .measure-page .fields
      grid-template-columns: 1fr 1fr
      gap: var(--space-2xl)
